/* app css stylesheet */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	color: #f3f781;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
}

header {
	font-family: 'Lobster', Georgia, Times, serif;
	line-height: 60px;
	font-size: 2em;
	height: 60px;
	background: #cccccc;
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid #ccc;
}

/* fixes for the angular bootstrap */
.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

.header-icon {
	float: left;
	padding-right: 20px;
}

.header-right {
	float: right;
	margin-top: 12px;
}

.ui.styled.sidebar {
	background: #444;
	border-right: 2px solid #ccc;
}

.ui.styled.sidebar.active {
	-moz-box-shadow:    3px 0px 6px 3px #444;
	-webkit-box-shadow: 3px 0px 6px 3px #444;
	box-shadow:         3px 0px 6px 3px #444;
}

.ui.vertical.menu .active.item {
	-webkit-box-shadow: 0.5em 0em 0em inset;
	box-shadow: 0.5em 0em 0em inset;
}

.ui.menu .active.item {
	color: #f3f781;
}

.ui.vertical.menu .item {
	color: #909030;
	height: 70px !important;
	line-height: 42px !important;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: large;
}

.ui.vertical.menu .item > i.icon {
	margin: 13px 0em 0em 0.5em;
}

.main-content {
	padding: 20px;
}

.ui.input {
	margin-bottom: 5px;
}

.ui.csm.button {
	background: #f3f781;
	color: #111;
	font-size: medium;
}

.login-button.ng-show {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

.login-button.ng-hide {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
	-webkit-animation-duration: 0.1s;
	animation-duration: 0.1s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

a {
	color: inherit;
	text-decoration: none;
}

.tab-content {
	padding: 10px;
}

.panel {
	background: rgba(255,255,255,0.1);
}

.panel-default > .panel-heading {
	background: rgba(255,255,255,0.2);
}

.ui.dropdown .menu .item {
	font-size: medium;
}

.csula-color {
	color: #909030 !important;
}

.ui.checkbox label {
	color: #f3f781 !important;
}

.right-floating {
	float: right;
	margin-top: 15px !important;
	margin-right: 5px !important;
}

.right-floating:after {
	clear: both;
}

.ui.list .description {
	color: #f3f781;
}