<tabset ng-init="init()">
	<tab heading="Watch">
		<!-- Search boxes -->
		<div class="ui small fluid action input">
			<input type="text" ng-model="$parent.query" placeholder="Search Classes">
			<div class="ui blue button" ng-click="searchCourses()">
				<i class="{{ searchStatus }} big icon"></i>
			</div>
		</div>

		<!-- racing condition so we have to call init twice -->
		<div class="ui fluid quarter selection dropdown" ng-init="init()">
			<div class="text">{{ term }}</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item" ng-repeat="t in terms" ng-click="changeTerm(t)">{{ t }}</div>
			</div>
		</div>

		<div class="ui divider"></div>

		<h3 class="ui header">Search Result</h3>

		<div class="ui divided list">
			<div class="item" ng-repeat="c in courses">
				<div class="ui green circular label right-floating"></div>
				<i class="book csula-color icon"></i>
				<div class="content">
					<a class="header">{{c.course.subject}} {{c.course.number}}</a>
				</div>
			</div>
		</div>

		<div class="ui divider"></div>

		<h3 class="ui header">Watch List</h3>
		<accordion close-others="true">
			<accordion-group heading="Summer 2014">
				This content is straight in the template.
			</accordion-group>
			<accordion-group heading="Fall 2014">
				<p>The body of the accordion group grows to fit the contents</p>
			</accordion-group>
		</accordion>
	</tab>
	<tab heading="Enroll">
		<tabset>
			<tab heading="Add">
				<!-- Search boxes -->
				<div class="ui small fluid action input">
					<input type="text" ng-model="$parent.$parent.query" placeholder="Search Classes">
					<div class="ui blue button" ng-click="searchCourses()">
						<i class="{{ searchStatus }} big icon"></i>
					</div>
				</div>

				<!-- racing condition so we have to call init twice -->
				<div class="ui fluid quarter selection dropdown" ng-init="init()">
					<div class="text">{{ term }}</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" ng-repeat="t in terms" ng-click="changeTerm(t)">{{ t }}</div>
					</div>
				</div>


				<div class="ui slider checkbox">
					<input id="available" type="checkbox" ng-model="$parent.$parent.available">
					<label for="available">Available?</label>
				</div>

				<div class="ui divider"></div>

				<h3 class="ui header">Search Result</h3>

				<div class="ui list">
					<a class="item" ng-repeat="c in courses" ng-click="enrollCourse(c.id)">
						<i class="book csula-color icon"></i>
						{{c.course.subject}} {{c.course.number}}
					</a>
				</div>
			</tab>
			<tab heading="Drop">
				<!-- Search boxes -->
				<div class="ui small fluid action input">
					<input type="text" ng-model="$parent.$parent.query" placeholder="Search Classes">
					<div class="ui blue button" ng-click="searchCourses()">
						<i class="{{ searchStatus }} big icon"></i>
					</div>
				</div>

				<!-- racing condition so we have to call init twice -->
				<div class="ui fluid quarter selection dropdown" ng-init="init()">
					<div class="text">{{ term }}</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" ng-repeat="t in terms" ng-click="changeTerm(t)">{{ t }}</div>
					</div>
				</div>


				<div class="ui slider checkbox">
					<input id="available" type="checkbox" ng-model="$parent.$parent.available">
					<label for="available">Available?</label>
				</div>

				<div class="ui divider"></div>

				<h3 class="ui header">Search Result</h3>

				<div class="ui list">
					<a class="item" ng-repeat="c in courses" ng-click="dropCourse(c.id)">
						<i class="book csula-color icon"></i>
						{{c.course.subject}} {{c.course.number}}
					</a>
				</div>
			</tab>
			<tab heading="Swap">
			</tab>
		</tabset>

	</tab>
	<tab heading="Academic" disabled="true">

	</tab>
</tabset>