<div class="ui inverted piled segment">
	<h2>Project CSM</h2>
	<p>
		The goal of project CSM is to provide one central panel for multiple
		services, such as GET, Email, parking, and check out schedules, to all
		Cal State Los Angeles students so that students don't need to login to
		various services with all different accounts.
	</p>
	<p ng-show="user.username">
		Hi, {{user.username}} <a href="" ng-click="logout()">logout here</a>.
	</p>
	<p ng-hide="user.username">
		Hi, Guest, <a href="#/login">login here</a>
	</p>
</div>